In [29]:
import pymysql
host = "database-job-posts.c1qytdm4eno0.us-east-1.rds.amazonaws.com"

port =int(3306)
dbname="job_posts"
user="timaun4db"
password="WSsmdIep4db2e"
conn = pymysql.connect(host, user=user,port=port, passwd=password, db=dbname,charset='latin1')

In [2]:
import pandas as pd
data1 =pd.read_sql('SELECT * from temp_data', con=conn)
data1.shape

(322057, 10)

In [9]:
#### remove wrong data collection
data_correct = data1[data1['date'] !='''If you require alternative methods of application or screening, you must approach the employer directly to request this as Indeed is not responsible for the employer's application process.''']
data_correct.shape

(319719, 10)

In [10]:
data_correct.drop(['date','day'], axis =1, inplace = True)

C:\Users\mh4pk\AppData\Local\Continuum\anaconda3\envs\scrapyenv2\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
data_correct.shape

(319719, 8)

In [13]:
# dropping duplicates due to overlap of periods
no_overlap_data=data_correct[~data_correct.duplicated()]
no_overlap_data.shape

(261110, 8)

In [14]:
# copy a backup of data to hard drive
no_overlap_data.to_csv('April-10-backup.csv', index = False)

In [2]:
import pandas as pd
retrived_data = pd.read_csv('C:/Users/mh4pk/Downloads/April-10-backup.csv')

In [3]:
droped_dup_data = retrived_data[~retrived_data[['job_title', 'company', 'description',
       'state', 'city','posted_date']].duplicated()]
droped_dup_data.shape

(244681, 8)

In [67]:
from collections import Counter
Counter(droped_dup_data.term)

Counter({'data analyst': 129321,
         'machine learning engineer': 71997,
         'data scientist': 43363})

In [35]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
 print(droped_dup_data.groupby('state')['posted_date'].count().sort_values(ascending =False).head(200))

state
CA                                         32384
TX                                         15714
VA                                         14711
NY                                         14297
WA                                         13779
IL                                         10049
MA                                          9632
FL                                          8169
DC                                          8124
PA                                          7951
MD                                          7578
NC                                          7430
GA                                          6842
NJ                                          6672
OH                                          5443
CO                                          5182
MN                                          4455
AZ                                          4152
MI                                          4142
MO                                          3465
TN                                          3037
CT                                          2628
WI                                          2380
OR                                          2279
IN                                          2164
UT                                          2128
AL                                          1631
IA                                          1566
DE                                          1529
SC                                          1522
In                                          1241
KY                                          1179
KS                                          1045
AR                                           972
California                                   955
NM                                           886
NE                                           871
LA                                           839
OK                                           835
ID                                           809
NV                                           756
RI                                           600
HI                                           579
NH                                           550
Texas                                        527
New York State                               526
LL                                           474
United States                                439
ME                                           436
MS                                           392
PR                                           367
Virginia                                     286
Massachusetts                                284
WV                                           273
MT                                           272
AK                                           259
Illinois                                     257
Washington State                             230
Colorado                                     220
Georgia                                      218
VT                                           205
New Jersey                                   200
ND                                           196
SD                                           195
North Carolina                               185
Michigan                                     178
Florida                                      170
Pennsylvania                                 152
Maryland                                     150
Oregon                                       135
WY                                           125
Arizona                                      123
Gainwell Technologies                        108
Ohio                                         105
Minnesota                                    100
Indiana                                       96
TuSimple                                      75
Missouri                                      67
N.                                            65
Tennessee                                     62
Motional                                      62
Frontdoor                                     60
South Carolina                                56
Utah                                          55
Connecticut                                   54
Delaware                                      51
The Blue Store                                49
Iowa                                          45
Oklahoma                                      43
Textio                                        42
Nevada                                        41
Alldus                                        41
Layer 7 Data Solutions                        41
Alabama                                       37
Elign Consulting                              37
Wisconsin                                     37
Hawaii                                        35
Okaya Corp                                    34
iknowvate technologies                        34
Nebraska                                      34
Soar Technology                               32
Arkansas                                      32
Legalist                                      31
Kansas                                        30
SphereOI Studios                              29
Rebellion Defense                             29
Louisiana                                     26
VI                                            26
Kentucky                                      26
Digital Dhara                                 26
Rhode Island                                  25
Idaho                                         24
CCS Global Tech                               24
Kani Solutions                                23
AlignTech                                     23
First Notch Technology LLC                    23
Infolob                                       23
West Virginia                                 23
Tapad                                         22
PHASTAR                                       22
EnergyHub                                     22
Energy Solutionss                             22
Equitus                                       22
Amply Media                                   22
Databricks                                    22
Darkblade Systems Corporation                 22
FlexIT Inc                                    21
RCI                                           20
Compass                                       20
Alaska                                        20
Paradigm Diagnostics                          20
Guam                                          19
Clinical Score                                19
Montana                                       19
Kin + Carta                                   19
TA Digital                                    18
Hired Recruiters                              18
Syrinx                                        18
Prescient Edge Federal                        18
Gras Savoye                                   18
New Mexico                                    18
Wyoming                                       18
Resiliency LLC                                17
Stord - other locations                       17
Freenome Holdings                             17
Mississippi                                   17
Valo Health                                   17
Olympus Corporation of the Americas           17
Perceptive Automata                           17
US Department of Education                    17
North Dakota                                  17
Agiloft                                       16
Recursion                                     16
VulcanForms                                   16
Tekla Research                                16
Known                                         16
New Hampshire                                 16
Aktify                                        16
DAtec                                         16
AURA TECHNOLOGIES LLC.                        15
Avantus Federal                               15
Martin Defense Group                          15
Pricesenz                                     15
Morton                                        15
SAGE Black Consulting & Contracting LLC       15
Tech Army                                     14
Iscientiaus                                   14
HBO Max                                       14
IonQ                                          14
Na                                            14
Snowflake                                     14
Vision                                        14
Puerto Rico                                   14
Kani Solutions Inc.                           14
Datto Jobs                                    14
Cash App                                      14
LaborView                                     14
Vermont                                       14
540                                           14
Confidential                                  14
GU                                            14
Calypso Way                                   14
AbSci                                         14
Integrated Data Services Inc.                 14
Lt                                            13
The DarkStar Group LLC                        13
Northrop Grumman                              13
Flock Safety                                  13
Cimpress/Vistaprint                           13
Corvus Insurance                              13
BLST Operating Company LLC                    13
Elutions                                      13
Mesh Plus Plus                                13
Hitachi Vantara Corporation                   13
Tiger Analytics                               13
SimBioSys                                     12
The Mom Project                               12
Gallega Software Solutions Inc                12
Murmuration                                   12
Wavious                                       12
Name: posted_date, dtype: int64

In [7]:
### there are missing state filled in our data.
list_of_us_codes = ['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'GU', 'HI',
                    'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP',
                    'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI',
                    'SC', 'SD', 'TN', 'TX', 'UM', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY']
dd = droped_dup_data[droped_dup_data.state.isin(list_of_us_codes)]
dd.shape

(223719, 8)

In [49]:
us_state_abbrev = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York State',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington State',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming',
}
us_state_abbrev_reversed = dict(zip(us_state_abbrev.values(), us_state_abbrev.keys()))
us_state_abbrev_reversed

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York State': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington State': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [50]:
def fix_states(state):
    if state in us_state_abbrev_reversed.keys():
        return us_state_abbrev_reversed[state]
    else:
        return state

In [51]:
droped_dup_data['state']=droped_dup_data['state'].apply(fix_states)

C:\Users\mh4pk\AppData\Local\Continuum\anaconda3\envs\scrapyenv2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
 print(droped_dup_data.groupby('state')['posted_date'].count().sort_values(ascending =False).head(60))

state
CA                       33339
TX                       16241
VA                       14997
NY                       14823
WA                       14009
IL                       10306
MA                        9916
FL                        8339
DC                        8124
PA                        8103
MD                        7728
NC                        7615
GA                        7060
NJ                        6872
OH                        5548
CO                        5402
MN                        4555
MI                        4320
AZ                        4275
MO                        3532
TN                        3099
CT                        2682
WI                        2417
OR                        2414
IN                        2260
UT                        2183
AL                        1668
IA                        1611
DE                        1580
SC                        1578
In                        1241
KY                        1205
KS                        1075
AR                        1004
NE                         905
NM                         904
OK                         878
LA                         865
ID                         833
NV                         797
RI                         625
HI                         614
NH                         566
LL                         474
ME                         444
United States              439
MS                         409
PR                         367
WV                         296
MT                         291
AK                         279
VT                         219
ND                         213
SD                         203
WY                         143
Gainwell Technologies      108
TuSimple                    75
N.                          65
Motional                    62
Frontdoor                   60
Name: posted_date, dtype: int64

In [59]:
dist = droped_dup_data.groupby('state')['posted_date'].count().sort_values(ascending =False).head(55)
distributions = dist.drop(labels=['LL','United States'])
distributions.sort_index(inplace = True)

In [93]:
weights =distributions.tolist()
dd3=droped_dup_data.copy()

In [79]:
state_list = distributions.index.tolist()

In [99]:
import random
def fix_missing_state(state):
    if state not in list_of_us_codes:
        ret =(random.choices(state_list, weights =weights ))
        return ret[0]
    else:
        return state

In [100]:
dd3['state'] =dd3['state'].apply(fix_missing_state)

In [92]:
dd3.iloc[25]['state']

'IL'

In [101]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
 print(dd3.groupby('state')['posted_date'].count().sort_values(ascending =False).head(50))

state
CA    35446
TX    17324
VA    15971
NY    15807
WA    14937
IL    10941
MA    10528
FL     8910
DC     8641
PA     8620
MD     8252
NC     8119
GA     7464
NJ     7322
OH     5914
CO     5764
MN     4832
MI     4580
AZ     4560
MO     3776
TN     3295
CT     2848
OR     2599
WI     2561
IN     2393
UT     2315
AL     1766
IA     1713
SC     1700
DE     1685
KY     1277
KS     1146
AR     1067
NM      967
NE      954
OK      944
LA      935
ID      882
NV      863
RI      661
HI      648
NH      601
ME      469
MS      442
PR      392
WV      307
MT      305
AK      296
VT      232
ND      230
Name: posted_date, dtype: int64

In [103]:
dd3.to_csv('C:/Users/mh4pk/Downloads/april-10-fixed.csv')

In [105]:

dd3.reset_index(inplace =True)
ss= dd3.groupby('company')['posted_date'].count()

In [106]:
ss.sort_values(ascending=False)[:20]

company
Amazon.com Services LLC           7251
JPMorgan Chase Bank, N.A.         3873
Deloitte                          3461
Wells Fargo                       2030
Amazon Web Services, Inc.         1850
Microsoft                         1661
Accenture                         1474
Pearson                           1388
Booz Allen Hamilton               1266
Apple                             1243
Capital One - US                  1166
US Department of the Air Force    1103
CACI                              1084
Amazon Dev Center U.S., Inc.      1082
Facebook                          1069
Thermo Fisher Scientific          1037
US Department of the Navy          999
US Department of the Army          969
UnitedHealth Group                 967
Capital One                        950
Name: posted_date, dtype: int64

## add match skills columns to our dataframe

In [16]:
skills_df = pd.read_csv('C:\\Users\\mh4pk\\Downloads\\data_science_tags.csv', index_col = 'Unnamed: 0')
skills_df = skills_df.rename(columns={"0": "tag"})

In [107]:
jobs_and_skills = pd.concat([
        dd3,pd.DataFrame(
            [[0]*len(skills_df)], 
            index=dd.index, 
            columns=[tag for tag in skills_df['tag']])],axis =1)
jobs_and_skills['description']=jobs_and_skills.description.apply(lambda x: x.lower())

In [108]:
import re
def match_regex(text,a_tag):
    
    pattern = re.compile(r"[\s ,(]"+ re.escape(a_tag)+"[\s,),\.,,,;]")
    
    res = pattern.search(text)
    return res

In [109]:
%%time
for i in range(len(jobs_and_skills.index)):
    for tag in skills_df['tag']:
        if match_regex(jobs_and_skills.description[i],tag):
            jobs_and_skills.at[i,tag]=1

Wall time: 7h 20min 11s

In [111]:
jobs_and_skills.to_csv('C:\\Users\\mh4pk\\Downloads\\final_clean_job_and_skills.cvs')

## working on clean data to reduce skills

In [2]:
import pandas as pd
jobs_skills = pd.read_csv('C:\\Users\\mh4pk\\Downloads\\final_clean_job_and_skills.cvs')

In [1]:
jobs_skills.shape

NameError: name 'jobs_skills' is not defined

In [ ]:
jobs_

In [7]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(jobs_skills.iloc[:,8:].sum().astype(int).sort_values(ascending= False).tail(240).to_string())

dirichlet                           60
mcmc                                60
ensemble learning                   58
domain adaptation                   57
activity recognition                57
explainable ai                      55
parameter estimation                55
speech to text                      55
ipython                             52
stanford nlp                        52
pip                                 51
interpolation                       50
networkx                            49
learning to rank                    49
fasttext                            49
siamese networks                    48
amazon ml                           47
discriminant analysis               45
fuzzy logic                         45
dataframe                           43
gru                                 42
data leakage                        42
handwritten                         41
sequence to sequence                41
multitask learning                  40
rdkit                               40
gradient descent                    39
mlp                                 38
spyder                              36
deep network                        34
text generation                     33
relational dbms                     31
data.table                          31
vae                                 31
python 3.x                          28
featurization                       28
natural language process            28
similar documents                   27
ab test                             27
markov process                      26
topic model                         26
pyro                                26
dbscan                              25
dropout                             24
wikipedia                           24
apache mahout                       24
mse                                 22
esl                                 22
manifold                            22
gmm                                 22
gluon                               21
gaussian process                    21
allennlp                            21
non parametric                      19
colab                               19
pickle                              19
k means                             19
density estimation                  18
isolation forest                    18
elastic net                         16
doc2vec                             16
huggingface                         16
feature reduction                   15
adaboost                            15
genetic programming                 14
autoencoder                         13
gnn                                 13
perceptron                          13
expectation maximization            13
svr                                 13
openai gym                          12
randomized algorithms               12
sparsity                            12
backpropagation                     11
convnet                             11
fastai                              10
tranformation                       10
loss function                        9
class imbalance                      9
heatmap                              9
ridge regression                     9
feature scaling                      9
igraph                               8
graph neural network                 8
tfidf                                8
feature map                          8
groupby                              8
pgm                                  7
rbf                                  7
crisp dm                             7
hog                                  7
self study                           7
objective function                   7
language model                       7
google prediction api                6
3d object detection                  6
rattle                               6
evolutionary algorithms              6
rmse                                 6
grid search                          6
vgg16                                5
feature construction                 5
rbm                                  5
bayesian nonparametric               5
pytorch geometric                    5
learning rate                        4
multilabel classification            4
usecase                              4
graphical model                      4
weighted data                        4
faster rcnn                          3
unbalanced classes                   3
finetuning                           3
unseen data                          3
activation function                  3
tsne                                 3
softmax                              3
groundtruth                          2
spectral clustering                  2
pybrain                              2
structural equation modelling        2
q learning                           2
hierarchical data format             2
multi output                         2
glorot initialization                2
audio recognition                    2
probability calibration              2
bootstraping                         1
vector space models                  1
actor critic                         1
libsvm                               1
wolfram language                     1
causalimpact                         1
early stopping                       1
mutual information                   1
goss                                 1
multivariate distribution            1
naive bayes classifier               1
target encoding                      1
openai gpt                           1
serialisation                        1
multiclass classification            1
attention mechanism                  1
dqn                                  1
mean shift                           1
mnist                                1
open set                             1
ndcg                                 1
smote                                1
epochs                               1
neuralnetwork                        0
exploratory factor analysis          0
hashingvectorizer                    0
vc theory                            0
sematic similarity                   0
multi agent                          0
infere                               0
hinge loss                           0
skorch                               0
naive bayes algorithim               0
alex net                             0
inceptionresnetv2                    0
spatial transformer                  0
helmert coding                       0
jaccard coefficient                  0
summarunner architecture             0
keras rl                             0
spearmans rank correlation           0
pac learning                         0
cs231n                               0
james stein encoder                  0
collinearity                         0
multi instance learning              0
discounted reward                    0
natural gradient boosting            0
tflearn                              0
least squares svm                    0
hurdle model                         0
bayes error                          0
proximal svm                         0
predictor importance                 0
data indexing techniques             0
separable                            0
estimation updating                  0
cosine distance                      0
policy gradients                     0
batch normalization                  0
weight initialization                0
orange3                              0
matrix factorisation                 0
linearly separable                   0
markov hidden model                  0
gridsearchcv                         0
image size                           0
kerastuner                           0
sequential pattern mining            0
pearsons correlation coefficient     0
bayesian neural network              0
fuzzy classification                 0
movielens                            0
semi supervised learning             0
mini batch gradient descent          0
imbalanced learn                     0
kitti dataset                        0
extreme learning machine             0
finite precision                     0
software recommendation              0
rmsle                                0
cost function                        0
one hot encoding                     0
freebase                             0
categorical encoding                 0
lda classifier                       0
smotenc                              0
historgram                           0
graphviz                             0
recurrent neural net                 0
neural style transfer                0
nl2sql                               0
skmultilearn                         0
galago                               0
ngboost                              0
data stream mining                   0
f1score                              0
one shot learning                    0
ngrams                               0
stacked lstm                         0
k nn                                 0
marginal effects                     0
normal equation                      0
image preprocessing                  0
chi square test                      0
functional api                       0
text filter                          0
dummy variables                      0
automatic summarization              0
consumerweb                          0
reference request                    0
noisification                        0
kendalls tau coefficient             0

In [4]:
tail=jobs_skills.iloc[:,8:].sum().astype(int).sort_values(ascending= False).tail(240).index.to_list()

In [18]:
red_list = ['data', 'dataset','machine learning model', 'training','loss function','data science model','categorical data', 'correlation', 'backpropagation','accuracy'
,'similarity','evaluation','outlier','performance','regularization', 'missing data','sampling', 'hyperparameter','metric','distribution','text', 'encoding', 'activation function', 'kaggle',
'python 3.x', 'ranking','sequence', 'labels','binary', 'kernel','variance', 'reference request','perceptron','math', 'cost function','tools','gaussian','career', 'management', 'learning', 'time', 'research',
'education', 'implementation', 'processing', 'methods', 'code','community','finance','automation','marketing','genetic','efficiency','word','features', 'pipelines','methodology','history', 'search','google',
'difference','energy','privacy', 'confidence', 'experiments', 'image','recommendation', 'categories', 'definitions','metadata','theory', 'predict','state of the art', 'matrix', 'noise','twitter','sensors','game',
'parallel', 'variance', 'json', 'library','books', 'anomaly','distance','numerical','gpu','aggregation','representation','sports','scoring', 'structured data', 'normalization', 'cuda', 'data formats', 'search engine',
'momentum' , 'parsing', 'indexing', 'counts' , 'parametric','data product', 'reshape', 'gradient', 'manhattan', 'convergence', 'parameter', 'competitions', 'reductions', 'markov','notation','labelling','sparse', 'tokenization',
'corpus','coursera','anonymization','generalization','pooling','parallelism','metaheuristics','overfitting','duplicate records','homework','tpu','encoder','self driving','convolution','beginner','csv',
'terminology', 'geospatial','bias','distributed','score','hardware','neural','estimators','nn','ml']

In [19]:
reduced_list = tail+red_list

In [20]:
jobs_and_skills_reduced = jobs_skills.drop(columns={*reduced_list})

In [21]:
jobs_and_skills_reduced.shape

(244681, 238)

## send to database on aws

In [27]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=user, host = host,
                               pw=password,
                               db=dbname))
jobs_and_skills_reduced.to_sql(con=engine, name='dash_table_V3', if_exists='fail')

In [16]:
import pandas as pd
data1 =pd.read_sql('SELECT * from dash_table_V3', con=conn)
data1.shape

(244681, 252)

In [22]:
cols = jobs_and_skills_reduced.columns.to_list()
skills = cols[8:]
skills.insert(0,'job_title')

In [10]:
print(skills)

['job_title', 'machine learning', 'python', 'neural network', 'deep learning', 'classification', 'keras', 'scikit learn', 'tensorflow', 'nlp', 'r', 'time series', 'data mining', 'regression', 'cnn', 'clustering', 'predictive modeling', 'pandas', 'lstm', 'statistics', 'feature selection', 'random forest', 'image classification', 'decision trees', 'text mining', 'linear regression', 'data cleaning', 'visualization', 'reinforcement learning', 'logistic regression', 'rnn', 'bigdata', 'xgboost', 'svm', 'cross validation', 'feature engineering', 'computer vision', 'recommender system', 'algorithms', 'optimization', 'unsupervised learning', 'prediction', 'preprocessing', 'word embeddings', 'pytorch', 'feature extraction', 'supervised learning', 'word2vec', 'anomaly detection', 'numpy', 'pca', 'apache spark', 'image recognition', 'probability', 'orange', 'dimensionality reduction', 'object detection', 'gan', 'graphs', 'model selection', 'forecasting', 'matlab', 'matplotlib', 'sentiment analysis', 'data analysis', 'hyperparameter tuning', 'transfer learning', 'ensemble modeling', 'apache hadoop', 'information retrieval', 'nltk', 'pyspark', 'bert', 'generative models', 'jupyter', 'plotting', 'named entity recognition', 'lda', 'embeddings', 'forecast', 'databases', 'confusion matrix', 'social network analysis', 'bayesian', 'sql', 'gensim', 'boosting', 'transformer', 'seaborn', 'data imputation', 'opencv', 'machine translation', 'weka', 'scipy', 'association rules', 'java', 'descriptive statistics', 'excel', 'data augmentation', 'object recognition', 'yolo', 'ocr', 'linear algebra', 'gbm', 'online learning', 'aws', 'rstudio', 'theano', 'genetic algorithms', 'ai', 'classifier', 'bayesian networks', 'anaconda', 'text classification', 'azure ml', 'scala', 'clusters', 'inception', 'data wrangling', 'error handling', 'scraping', 'lightgbm', 'programming', 'mathematics', 'spacy', 'survival analysis', 'tableau', 'churn', 'image segmentation', 'information theory', 'scalability', 'map reduce', 'javascript', 'market basket analysis', 'ggplot2', 'regex', 'nosql', 'glm', 'caffe', 'ensemble', 'annotation', 'bioinformatics', 'sas', 'simulation', 'powerbi', 'cloud computing', 'monte carlo', 'knowledge base', 'arima', 'auc', 'open source', 'mongodb', 'probabilistic programming', 'nvidia', 'web scraping', 'octave', 'software development', 'hive', 'active learning', 'c', 'chatbot', 'ml', 'dplyr', 'lasso', 'linux', 'torch', 'neo4j', 'crawling', 'etl', 'statsmodels', 'project planning', '3d reconstruction', 'sagemaker', 'nlg', 'shap', 'interpretation', 'julia', 'pattern recognition', 'question answering', 'meta learning', 'cloud', 'h2o', 'deepmind', 'data engineering', '.net', 'version control', 'infographics', 'apache pig', 'google cloud', 'tesseract', 'ann', 'automl', 'pruning', 'lsi', 'stata', 'spss', 'redshift', 'anova', 'dynamic programming', 'ner', 'bagging', 'plotly', 'apache kafka', 'bokeh', 'information extraction', 'knime', 'stemming', 'aws lambda', 'parquet', 'frequentist', 'sap', 'mxnet', 'linear programming', 'cart', 'mlflow', 'hbase', 'arrow', 'dashboards', 'hana', 'chainer', 'c++', 'exploitation', 'ibm watson', 'estimation', 'imputation', 'knowledge graph', 'data visualization', 'hadoop', 'pig', 'scikit', 'sklearn', 'spark']

In [23]:
grouped = jobs_and_skills_reduced.groupby(['posted_date','state','term'])[skills].sum().astype(int)

In [12]:
grouped.head()

                                machine learning  python  neural network  \
posted_date state term
2020-04-22  AL    data analyst                 0       0               0
            AZ    data analyst                 0       0               0
            CA    data analyst                 0       2               0
            CO    data analyst                 0       0               0
            CT    data analyst                 0       0               0

                                deep learning  classification  keras  \
posted_date state term
2020-04-22  AL    data analyst              0               0      0
            AZ    data analyst              0               0      0
            CA    data analyst              0               1      0
            CO    data analyst              0               0      0
            CT    data analyst              0               0      0

                                scikit learn  tensorflow  nlp  r  ...  \
posted_date state term                                            ...
2020-04-22  AL    data analyst             0           0    0  0  ...
            AZ    data analyst             0           0    0  0  ...
            CA    data analyst             0           0    0  2  ...
            CO    data analyst             0           0    0  0  ...
            CT    data analyst             0           0    0  0  ...

                                ibm watson  estimation  imputation  \
posted_date state term
2020-04-22  AL    data analyst           0           0           0
            AZ    data analyst           0           0           0
            CA    data analyst           0           0           0
            CO    data analyst           0           0           0
            CT    data analyst           0           0           0

                                knowledge graph  data visualization  hadoop  \
posted_date state term
2020-04-22  AL    data analyst                0                   0       0
            AZ    data analyst                0                   0       0
            CA    data analyst                0                   2       0
            CO    data analyst                0                   0       0
            CT    data analyst                0                   0       0

                                pig  scikit  sklearn  spark
posted_date state term
2020-04-22  AL    data analyst    0       0        0      0
            AZ    data analyst    0       0        0      0
            CA    data analyst    0       0        0      0
            CO    data analyst    0       0        0      0
            CT    data analyst    0       0        0      0

[5 rows x 231 columns]

In [13]:
grouped2 = jobs_and_skills_reduced.groupby(['posted_date','state','term'])['job_title'].count().astype(int)

In [24]:
gr = pd.concat([grouped2, grouped],axis =1)
gr.head()

                                job_title  machine learning  python  \
posted_date state term
2020-04-22  AL    data analyst          1                 0       0
            AZ    data analyst          3                 0       0
            CA    data analyst          5                 0       2
            CO    data analyst          1                 0       0
            CT    data analyst          1                 0       0

                                neural network  deep learning  classification  \
posted_date state term
2020-04-22  AL    data analyst               0              0               0
            AZ    data analyst               0              0               0
            CA    data analyst               0              0               1
            CO    data analyst               0              0               0
            CT    data analyst               0              0               0

                                keras  scikit learn  tensorflow  nlp  ...  \
posted_date state term                                                ...
2020-04-22  AL    data analyst      0             0           0    0  ...
            AZ    data analyst      0             0           0    0  ...
            CA    data analyst      0             0           0    0  ...
            CO    data analyst      0             0           0    0  ...
            CT    data analyst      0             0           0    0  ...

                                ibm watson  estimation  imputation  \
posted_date state term
2020-04-22  AL    data analyst           0           0           0
            AZ    data analyst           0           0           0
            CA    data analyst           0           0           0
            CO    data analyst           0           0           0
            CT    data analyst           0           0           0

                                knowledge graph  data visualization  hadoop  \
posted_date state term
2020-04-22  AL    data analyst                0                   0       0
            AZ    data analyst                0                   0       0
            CA    data analyst                0                   2       0
            CO    data analyst                0                   0       0
            CT    data analyst                0                   0       0

                                pig  scikit  sklearn  spark
posted_date state term
2020-04-22  AL    data analyst    0       0        0      0
            AZ    data analyst    0       0        0      0
            CA    data analyst    0       0        0      0
            CO    data analyst    0       0        0      0
            CT    data analyst    0       0        0      0

[5 rows x 231 columns]

In [15]:
gr.to_csv('C:\\Users\\mh4pk\\Downloads\\grouped_april_final.csv')

In [25]:
gr.rename(columns={'job_title':'count'}, inplace = True)
gr.head()

                                count  machine learning  python  \
posted_date state term
2020-04-22  AL    data analyst      1                 0       0
            AZ    data analyst      3                 0       0
            CA    data analyst      5                 0       2
            CO    data analyst      1                 0       0
            CT    data analyst      1                 0       0

                                neural network  deep learning  classification  \
posted_date state term
2020-04-22  AL    data analyst               0              0               0
            AZ    data analyst               0              0               0
            CA    data analyst               0              0               1
            CO    data analyst               0              0               0
            CT    data analyst               0              0               0

                                keras  scikit learn  tensorflow  nlp  ...  \
posted_date state term                                                ...
2020-04-22  AL    data analyst      0             0           0    0  ...
            AZ    data analyst      0             0           0    0  ...
            CA    data analyst      0             0           0    0  ...
            CO    data analyst      0             0           0    0  ...
            CT    data analyst      0             0           0    0  ...

                                ibm watson  estimation  imputation  \
posted_date state term
2020-04-22  AL    data analyst           0           0           0
            AZ    data analyst           0           0           0
            CA    data analyst           0           0           0
            CO    data analyst           0           0           0
            CT    data analyst           0           0           0

                                knowledge graph  data visualization  hadoop  \
posted_date state term
2020-04-22  AL    data analyst                0                   0       0
            AZ    data analyst                0                   0       0
            CA    data analyst                0                   2       0
            CO    data analyst                0                   0       0
            CT    data analyst                0                   0       0

                                pig  scikit  sklearn  spark
posted_date state term
2020-04-22  AL    data analyst    0       0        0      0
            AZ    data analyst    0       0        0      0
            CA    data analyst    0       0        0      0
            CO    data analyst    0       0        0      0
            CT    data analyst    0       0        0      0

[5 rows x 231 columns]

In [26]:
gr.to_csv('C:\\Users\\mh4pk\\Downloads\\grouped_april_final_for_dash.csv')

In [34]:
gr2 = gr.reset_index()
gr2.head()

,posted_date,state,term,count,machine learning,python,neural network,deep learning,classification,keras,...,ibm watson,estimation,imputation,knowledge graph,data visualization,hadoop,pig,scikit,sklearn,spark
0,2020-04-22,AL,data analyst,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-22,AZ,data analyst,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-22,CA,data analyst,5,0,2,0,0,1,0,...,0,0,0,0,2,0,0,0,0,0
3,2020-04-22,CO,data analyst,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-22,CT,data analyst,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=user, host = host,
                               pw=password,
                               db=dbname))
gr2.to_sql(con=engine, name='dash_grouped_2_try', if_exists='fail')

In [36]:
gr2.shape

(32097, 234)

In [37]:
import pandas as pd
data1 =pd.read_sql('SELECT * from dash_grouped_2_try', con=conn)
data1.shape

(32097, 235)

In [38]:
data1.head()

,index,posted_date,state,term,count,machine learning,python,neural network,deep learning,classification,...,ibm watson,estimation,imputation,knowledge graph,data visualization,hadoop,pig,scikit,sklearn,spark
0,0,2020-04-22,AL,data analyst,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2020-04-22,AZ,data analyst,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2020-04-22,CA,data analyst,5,0,2,0,0,1,...,0,0,0,0,2,0,0,0,0,0
3,3,2020-04-22,CO,data analyst,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,2020-04-22,CT,data analyst,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
import pandas as pd
grouped = pd.read_csv('C:\\Users\\mh4pk\\Downloads\\grouped_april_final_for_dash.csv')

In [7]:
grouped_da = grouped[grouped['term']=='data analyst']

In [8]:
grouped_da.head()

,posted_date,state,term,count,machine learning,python,neural network,deep learning,classification,keras,...,ibm watson,estimation,imputation,knowledge graph,data visualization,hadoop,pig,scikit,sklearn,spark
0,2020-04-22,AL,data analyst,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-22,AZ,data analyst,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-22,CA,data analyst,5,0,2,0,0,1,0,...,0,0,0,0,2,0,0,0,0,0
3,2020-04-22,CO,data analyst,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-04-22,CT,data analyst,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(grouped_da.iloc[:,4:].sum().astype(int).sort_values(ascending= False).head(240).to_string())

excel                        49987
sql                          43565
data analysis                28306
tableau                      22116
databases                    21126
statistics                   20109
dashboards                   19181
visualization                17392
programming                  16948
python                       16298
r                            12394
data visualization           12009
mathematics                  11636
software development          9973
cloud                         9839
sas                           9567
forecasting                   8481
optimization                  8303
etl                           7764
data mining                   7218
interpretation                6267
sap                           6083
machine learning              5401
classification                5148
c                             4691
aws                           4359
powerbi                       4215
forecast                      3999
regression                    3895
graphs                        3657
java                          3349
algorithms                    3017
spss                          2928
javascript                    2628
hadoop                        2282
data engineering              2177
ai                            1841
predictive modeling           1710
project planning              1693
spark                         1650
redshift                      1514
simulation                    1350
.net                          1323
linux                         1265
stata                         1195
hive                          1092
scalability                   1073
knowledge base                1054
inception                     1049
nosql                         1048
matlab                        1007
estimation                     943
c++                            882
open source                    864
clustering                     796
cloud computing                789
probability                    709
data cleaning                  706
version control                671
google cloud                   651
pandas                         565
time series                    558
scala                          546
hana                           533
infographics                   487
data wrangling                 482
exploitation                   467
linear regression              433
descriptive statistics         411
orange                         405
deep learning                  380
bioinformatics                 375
logistic regression            365
mongodb                        361
numpy                          358
prediction                     339
jupyter                        336
decision trees                 325
online learning                322
nlp                            285
pyspark                        269
churn                          254
text mining                    235
pig                            217
tensorflow                     203
matplotlib                     203
hbase                          189
anomaly detection              188
information retrieval          165
anova                          164
random forest                  155
bayesian                       151
crawling                       148
pattern recognition            145
scraping                       144
ann                            140
clusters                       139
apache spark                   138
plotly                         133
computer vision                125
error handling                 121
knime                          118
web scraping                   115
scipy                          113
stemming                       106
survival analysis               97
ocr                             97
ensemble                        95
feature engineering             92
neo4j                           92
cnn                             91
cart                            90
monte carlo                     90
julia                           88
rstudio                         88
boosting                        87
map reduce                      87
arrow                           85
social network analysis         84
annotation                      84
nvidia                          80
keras                           79
pytorch                         78
pca                             74
sentiment analysis              73
unsupervised learning           70
seaborn                         65
active learning                 64
preprocessing                   64
parquet                         63
sagemaker                       61
ibm watson                      60
imputation                      54
chatbot                         51
ggplot2                         51
torch                           47
arima                           46
linear algebra                  44
regex                           44
svm                             42
nltk                            42
bigdata                         41
bokeh                           41
aws lambda                      39
neural network                  38
glm                             37
linear programming              37
model selection                 36
dynamic programming             35
scikit                          35
anaconda                        34
feature selection               34
dimensionality reduction        33
h2o                             33
weka                            32
sklearn                         31
dplyr                           31
plotting                        30
apache hadoop                   30
genetic algorithms              30
cross validation                29
association rules               25
xgboost                         25
market basket analysis          25
octave                          24
reinforcement learning          23
apache kafka                    21
scikit learn                    20
azure ml                        20
image recognition               19
lda                             16
theano                          16
supervised learning             16
rnn                             15
named entity recognition        14
lsi                             14
caffe                           13
machine translation             13
transformer                     13
ensemble modeling               12
statsmodels                     12
nlg                             12
spacy                           11
gbm                             11
word2vec                        11
apache pig                       9
transfer learning                9
gensim                           9
feature extraction               8
knowledge graph                  8
bayesian networks                8
classifier                       8
automl                           6
text classification              6
data imputation                  6
data augmentation                6
auc                              5
mlflow                           5
lstm                             5
mxnet                            5
bagging                          4
image segmentation               4
information extraction           4
yolo                             4
opencv                           4
frequentist                      4
confusion matrix                 4
bert                             4
gan                              4
image classification             3
shap                             3
lasso                            3
ner                              3
information theory               3
embeddings                       2
tesseract                        2
probabilistic programming        2
recommender system               2
lightgbm                         2
generative models                2
object detection                 1
hyperparameter tuning            1
chainer                          1
3d reconstruction                1
meta learning                    1
pruning                          1
word embeddings                  1
question answering               0
deepmind                         0
object recognition               0

In [11]:
grouped_ds = grouped[grouped['term']=='data scientist']

In [12]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(grouped_ds.iloc[:,4:].sum().astype(int).sort_values(ascending= False).head(240).to_string())

python                       25154
machine learning             22851
statistics                   21124
sql                          18172
programming                  16957
r                            16632
mathematics                  14930
algorithms                   13140
data analysis                10863
visualization                 9874
cloud                         9748
ai                            8175
sas                           8143
databases                     7945
tableau                       7715
spark                         7336
aws                           7319
deep learning                 7295
java                          7085
optimization                  6858
excel                         6851
data mining                   6310
data visualization            5969
hadoop                        5824
tensorflow                    5218
regression                    5116
software development          4712
predictive modeling           4042
c++                           3937
classification                3918
dashboards                    3748
pytorch                       3591
forecasting                   3555
nlp                           3503
scala                         3268
data engineering              3066
clustering                    3051
etl                           2865
hive                          2847
computer vision               2654
matlab                        2590
c                             2531
simulation                    2428
keras                         2272
open source                   2244
interpretation                2177
time series                   2108
nosql                         2104
pandas                        2017
cloud computing               1804
linux                         1779
javascript                    1697
numpy                         1668
google cloud                  1556
prediction                    1529
spss                          1469
decision trees                1385
version control               1373
probability                   1368
bayesian                      1352
reinforcement learning        1266
powerbi                       1220
anomaly detection             1155
sagemaker                     1126
redshift                      1112
scalability                   1106
pyspark                       1098
bioinformatics                1059
graphs                        1021
logistic regression           1004
sap                            999
feature engineering            990
text mining                    958
mongodb                        939
forecast                       882
mxnet                          869
jupyter                        824
data wrangling                 814
apache spark                   811
scipy                          776
nvidia                         770
stata                          769
pig                            761
estimation                     738
ensemble                       734
random forest                  718
information retrieval          682
matplotlib                     665
unsupervised learning          632
linear algebra                 627
pattern recognition            572
ibm watson                     549
cnn                            538
data cleaning                  535
caffe                          530
boosting                       524
linear regression              515
online learning                508
julia                          506
hbase                          500
svm                            495
neural network                 467
churn                          445
h2o                            443
survival analysis              433
theano                         418
neo4j                          414
sentiment analysis             407
inception                      407
nltk                           403
.net                           379
spacy                          374
scikit                         363
xgboost                        361
opencv                         349
plotly                         345
bert                           338
annotation                     332
active learning                324
sklearn                        315
clusters                       309
feature selection              308
preprocessing                  308
object detection               303
rnn                            290
supervised learning            283
torch                          279
exploitation                   275
model selection                273
knowledge base                 263
information extraction         259
deepmind                       257
project planning               256
social network analysis        252
descriptive statistics         244
hana                           239
lstm                           234
azure ml                       231
dimensionality reduction       230
transfer learning              227
apache kafka                   227
seaborn                        215
imputation                     214
weka                           205
image recognition              204
feature extraction             189
ggplot2                        186
map reduce                     180
scikit learn                   177
scraping                       171
glm                            170
monte carlo                    163
bokeh                          158
pca                            157
ensemble modeling              153
gensim                         151
ocr                            148
mlflow                         144
knowledge graph                144
anova                          143
chatbot                        139
statsmodels                    138
linear programming             136
web scraping                   134
apache hadoop                  132
gbm                            132
parquet                        129
gan                            121
machine translation            117
rstudio                        116
aws lambda                     115
dynamic programming            114
genetic algorithms             114
embeddings                     112
confusion matrix               106
dplyr                          105
word2vec                       103
image segmentation             101
arima                          101
ann                            100
automl                          99
text classification             99
lda                             97
ner                             93
image classification            91
knime                           91
named entity recognition        84
bayesian networks               84
association rules               82
generative models               76
cart                            76
anaconda                        75
meta learning                   75
transformer                     75
question answering              73
data imputation                 69
data augmentation               69
lightgbm                        66
orange                          64
frequentist                     64
infographics                    62
nlg                             58
lasso                           55
stemming                        52
information theory              51
bigdata                         47
crawling                        47
probabilistic programming       47
classifier                      44
cross validation                44
3d reconstruction               42
hyperparameter tuning           41
pruning                         39
bagging                         39
market basket analysis          38
recommender system              35
shap                            33
word embeddings                 33
octave                          32
lsi                             29
chainer                         29
tesseract                       26
auc                             26
arrow                           24
regex                           23
yolo                            22
plotting                        22
object recognition              21
apache pig                      20
error handling                  13

In [15]:
dd3 =pd.read_csv('C:/Users/mh4pk/Downloads/april-10-fixed.csv', index_col = 'Unnamed: 0')

In [16]:
ss= dd3.groupby('company')['description'].count()

In [19]:
comps = ss.reset_index()

In [27]:
companies = comps.sort_values(by='description',ascending=False)[:20].reset_index()

In [30]:
top_companies = companies.drop(['index'],axis = 1)

In [31]:
top_companies.to_csv('C:/Users/mh4pk/Downloads/top_companies.csv', index = False)